<header class="navbar navbar-fixed-top">
  <div class="container">
    <nav class='nav navbar-nav navbar-left'>
      <span> <%= link_to "Shota Kimura", root_path, class: "nav_item" %> </span>
    </nav>
    
    <nav>
      <ul class='nav navbar-nav navbar-right'>
        <li><%= link_to "ABOUT", "#", class: "nav_item" %></li>
        <li><%= link_to "PORTFOLIO", "#", class: "nav_item" %></li>
        <li><%= link_to "CONTACT", "#", class: "nav_item" %></li>
      </ul>
    </nav>
  </div>
</header>